@import "tailwindcss";
@import "tw-animate-css";

/* styles/datepicker-custom.css */

@theme {
    --color-primary: #33ff33;
    --color-primaryDark: #28a728;
    --color-tertiary: #84b6f4;
}


/* Ocultar scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.publicar{
  background-image: url("/bg-publicar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 10%;
}
.publicar2{
  /* background-image: url("/logo.png"); */
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  opacity: 10%;
  /* height: 200px; */
}

:root {
  scroll-behavior: smooth;
}

.react-datepicker__day {
  border-radius: 0.4rem;
  font-weight: 500;
  color: #1a1a1a;
}

.react-datepicker__day--disabled {
  color: #ccc !important;
  cursor: default;
}


.react-datepicker__day--keyboard-selected {
  background: none;
}

.react-datepicker__day--today {
  background-color: transparent !important;
  color: #1a1a1a !important;
  font-weight: 500;
}
